body {
  background-color: #f8f9fa;
  font-family: 'Segoe UI', sans-serif;
}

.table td, .table th {
  vertical-align: middle;
}

.sidebar a {
  text-decoration: none;
}

.badge {
  text-transform: capitalize;
}

.modal-content {
  border-radius: 15px;
}
